[Desktop Entry]
Type=Action
Name[en_US]=Mount ISO
Name[en]=Mount ISO
Name[C]=Mount ISO
ToolbarLabel[en_US]=Mount ISO
ToolbarLabel[en]=Mount ISO
ToolbarLabel[C]=Mount ISO
Icon[en_US]=redo
Icon[en]=redo
Icon[C]=redo
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[en_US]=Mount ISO
Name[en]=Mount ISO
Name[C]=Mount ISO
Exec=beesu mount %f /mnt/temp0
MimeTypes=application/x-cd-image;
